@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #232323;
    color: #fff;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

label {
    font-size: 1.25rem;
}

label:not(:first-of-type) {
    margin-top: 1.25rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  -moz-appearance: textfield;
  margin: 0; 
}

.sueldo-bruto, .bonos {
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px#fff;
    background-color: #232323;
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
}

.botones {
    border: solid 1px;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: #232323;
    color: #fff;
    cursor: pointer;
    margin-top: 0.938rem;
    font-size: 1.25rem;
    transition: all .3s;
}

.botones:hover {
    background-color: #fff;
    color: #232323;
}

.botones:first-of-type {
    margin-right: 20px;
}

.error {
    border-bottom: solid 1px red;
}

.error:focus {
    border-bottom: solid 1px #fff;
}

.contenedor-bono {
    display: none;
    transition: all .5s;
}

#si:checked ~ .contenedor-bono {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.bold {
    font-weight: 700;
}

.resultado {
    font-size: 1.5rem;
}